.yarn
.pnp.*
.cache
dist
build
public
generated
coverage
vendor
node_modules
*.ejs

# Match Super Bundle
packages/match/*
!packages/match/src
!packages/match/stories
!packages/match/package.json
!packages/match/tsconfig.json

# Match tokens
packages/match-tokens/core/*
!packages/match-tokens/core/package.json
!packages/match-tokens/core/tsconfig.json
!packages/match-tokens/core/types.d.ts
!packages/match-tokens/core/src
