.grid {
  display: grid;
  grid-column-gap: var(--space-scale-100);
}

@media (--media-query-medium) {
  .grid {
    grid-column-gap: var(--space-scale-260);
  }
}

@media (--media-query-large) {
  .grid {
    grid-column-gap: var(--space-scale-420);
  }
}
