.mainContent {
  grid-area: main;
}

@media (--media-query-large) {
  .layout {
    display: grid;
    grid-template-areas:
      "violator violator"
      "header header"
      "navigation main"
      "navigation footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
  }
}
