.section {
  justify-content: center;
  padding: var(--space-scale420) 0;
  background: var(--color-blue90);
}

.content {
  display: grid;
  grid-row-gap: var(--space-scale180);
  & > div {
    position: relative;
  }
}

.header {
  margin-bottom: var(--space-scale60);
  & p {
    color: var(--color-green20);
  }
  & h2 {
    color: var(--color-green30);
  }
}

.codeContainer {
  overflow: hidden;
}

.copy {
  margin: 0;
  color: var(--color-white);
  line-height: var(--line-height-scale220);
}

.snippet {
  position: relative;
  & > div {
    /* remove live code bottom margin */
    margin-bottom: 0;
  }
}

.swoop {
  position: absolute;
  top: -25px;
  right: 0;
  z-index: 0;
  width: 107px;
}

@media (--media-query-medium) {
  .section {
    padding: 0;
    background: linear-gradient(
      to bottom,
      var(--background-color-light) 0%,
      var(--background-color-light) 60%,
      var(--color-blue10) 60%
    );
  }
  .content {
    grid-column-gap: var(--space-scale500);
    grid-template-columns: 1fr minmax(min-content, 2fr);
    align-items: center;
    padding: var(--space-scale660) var(--space-scale420);
    background: var(--color-blue90);
    border-radius: 10px;
  }
  .swoop {
    top: -99px;
    width: 267px;
  }
  .codeContainer {
    overflow: visible;
  }
}

@media (--media-query-large) {
  .section .content {
    max-width: calc(var(--match-10-column-width) + var(--space-scale420) * 2);
  }
}
