.tabList {
    & button {
        padding: 5px 8px;
        color: var(--color-blue-60);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-scale-60);
        line-height: var(--line-height-scale-100);
        background: transparent;
        border: var(--border-width-thin) solid var(--color-blue-60);
        cursor: pointer;
        &+button {
            border-left: none;
            border-top-right-radius: var(--border-radius-medium);
            border-bottom-right-radius: var(--border-radius-medium);
        }
        &:first-child {
            border-right: none;
            border-top-left-radius: var(--border-radius-medium);
            border-bottom-left-radius: var(--border-radius-medium);
        }
        &:hover {
            background-color: var(--color-gray-20);
        }
        &:focus {
            outline-style: solid;
            outline-color: var(--color-blue-60);
            outline-offset: 1px;
        }
        &[aria-selected="true"] {
            color: var(--color-white);
            background-color: var(--color-blue-60);
        }
    }
    &.inverse button {
        color: var(--color-white);
        border-color: var(--color-white);
        &:hover {
            background-color: var(--color-blue-90);
        }
        &:focus {
            outline-color: var(--color-white);
        }
        &[aria-selected="true"] {
            color: var(--color-blue-60);
            background-color: var(--color-white);
        }
    }
}