.sectionHeader {
  margin-bottom: var(--space-scale340);

  &.centerAlign {
    text-align: center;
  }

  &.leftAlign {
    text-align: left;
  }

  & p {
    margin: 0;
    margin-bottom: var(--space-scale20);
    color: var(--color-blue80);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-scale80);
    line-height: var(--line-height-scale220);
  }

  & h2 {
    margin: 0;
    color: var(--color-blue90);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-scale160);
    line-height: var(--line-height-scale180);
  }
}

.sectionHeader.inverse h2 {
  color: var(--color-white);
}

@media (--media-query-medium) {
  .sectionHeader {
    & p {
      margin-bottom: var(--space-scale60);
    }

    & h2 {
      font-size: 32px;
      line-height: var(--line-height-scale140);
    }
  }
}
