body {
  color: var(--text-color-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-scale100);
  font-family: var(--font-family-text);
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: var(--color-blue60);
}

@media (--media-query-large) {
  body.no-scroll {
    overflow: visible;
  }
}
