.tabList {
  & button {
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline-style: solid;
      outline-color: var(--color-blue60);
      outline-offset: 1px;
    }
  }
}

.snippet button,
.inverseSnippet button {
  padding: 5px 8px;
  color: var(--color-blue60);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-scale60);
  line-height: var(--line-height-scale100);
  border: var(--border-width-thin) solid var(--color-blue60);
  & + button {
    border-left: none;
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
  }
  &:first-child {
    border-right: none;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
  }
  &:hover {
    background-color: var(--color-gray20);
  }
  &[aria-selected="true"] {
    color: var(--color-white);
    background-color: var(--color-blue60);
  }
}

.inverseSnippet button {
  color: var(--color-white);
  border-color: var(--color-white);
  &:hover {
    background-color: var(--color-blue90);
  }
  &:focus {
    outline-color: var(--color-white);
  }
  &[aria-selected="true"] {
    color: var(--color-blue60);
    background-color: var(--color-white);
  }
}

.header button {
  padding: var(--space-scale100) 0 var(--space-scale40);
  color: var(--color-white);
  font-weight: var(--font-weight-light);
  font-size: var(--space-scale100);
  line-height: var(--line-height-scale220);
  border-bottom: var(--border-width-medium) solid transparent;
  & img {
    margin-top: -1px;
    margin-right: 7px;
    vertical-align: middle;
  }
  & + button {
    margin-left: var(--space-scale420);
  }
  &[aria-selected="true"] {
    border-color: var(--color-blue40);
  }
}
