.tabList {
  margin: 40px 0;
  border-bottom: 1px solid var(--color-gray-20);
}

.tabList button {
  margin-bottom: -1px;
  padding: 4px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-scale-100);
  letter-spacing: 0.01em;
  background: transparent;
  border: 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.tabList button + button {
  margin-left: 30px;
}

.tabList button:hover {
  border-bottom-color: var(--color-gray-20);
}

.tabList button:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-blue-60);
  outline-offset: 2px;
}

.tabList button[aria-selected="true"] {
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0;
  border-bottom-color: var(--color-blue-60);
}
