.snippet {
  margin: 0;
  margin-bottom: var(--space-scale420);
  padding: var(--space-scale100) var(--space-scale180);
  overflow: auto;
  font-size: var(--font-size-scale80);
  font-family: var(--font-family-code);
  line-height: var(--line-height-scale220);
  direction: ltr;
  white-space: pre;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
  hyphens: none;
  background-color: var(--color-gray90);
  border-radius: var(--border-radius-base);
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray40) var(--color-gray90);
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-gray90);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray40);
    border: 3px solid var(--color-gray90);
    border-radius: 20px;
  }
}

.singleLine {
  padding: var(--space-scale60) var(--space-scale100);
}

.liveSnippet {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  & textarea,
  & pre {
    margin: 0;
    padding: 0 !important;
    font-family: var(--font-family-code) !important;
    outline: none;
  }
}

.livePreview {
  display: grid;
  grid-row-gap: var(--space-scale180);
  padding: var(--space-scale100) var(--space-scale180) var(--space-scale300);
  border: var(--border-width-thin) solid var(--color-gray40);
  border-radius: var(--border-radius-base);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.themeSwitcher {
  justify-self: flex-end;
  cursor: pointer;
}

.previewContent {
  justify-self: center;
  max-width: 550px;
}

.livePreview + .snippet {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
