.rectangleExample {
  width: 193px;
  height: 96px;
  background: #ffffff;
}

.textColorBackground {
  display: inline-block;
  width: 56px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 3px;
}

.themeSwitcher p {
  display: none;
}

.borderExample {
  width: 168px;
  height: 48px;
  border-style: solid;
  border-width: 2px;
}
