.mdxContent {
  & > h2,
  & > h3 {
    margin-top: 0;
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-scale-140);
  }

  & > h2 {
    margin-bottom: var(--space-scale-180);
    font-size: 32px;
  }

  & > h3 {
    margin-bottom: var(--space-scale-100);
    font-size: var(--font-size-scale-180);
  }

  & > hr {
    height: 1px;
    margin: var(--space-scale-420) 0;
    background: var(--color-gray-20);
    border: 0;
  }

  & > p {
    margin: 0;
    margin-bottom: var(--space-scale-180);
    line-height: var(--line-height-scale-220);
  }
}

@media (--media-query-medium) {
  .mdxContent {
    & > h2 {
      margin-bottom: var(--space-scale-300);
      font-size: 36px;
    }

    & > h3 {
      margin-bottom: 28px;
    }

    & > hr {
      margin: var(--space-scale-540) 0;
    }
  }
}
