.section {
  display: flex;
}

.content {
  width: calc(100% - var(--space-scale180) * 2);
  max-width: var(--match-content-width);
  margin: 0 var(--space-scale180);
}

.content.colSpan10 {
  max-width: var(--match-10-column-width);
}

.content.colSpan8 {
  max-width: var(--match-8-column-width);
}

@media (--media-query-medium) {
  .content {
    width: calc(100% - var(--space-scale260) * 2);
    margin-right: var(--space-scale260);
    margin-left: var(--space-scale260);
  }
}

@media (--media-query-large) {
  .content {
    width: calc(100% - 100px * 2);
    margin-right: 100px;
    margin-left: 100px;
  }
}
