.tokenList {
  & > h2,
  & > h3 {
    scroll-margin-top: 128px;
  }

  & > h2 {
    margin: 0 0 var(--space-scale60);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-scale180);
    line-height: var(--line-height-scale100);
  }

  & > h3 {
    margin: 0 0 var(--space-scale7);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-scale80);
    line-height: var(--line-height-scale220);
  }

  & > p {
    margin: 0 0 var(--space-scale180);
    color: var(--text-color-tertiary);
    font-size: var(--font-size-scale80);
    line-height: var(--line-height-scale220);
  }

  & > *:last-child {
    margin: 0;
  }
}
