.siteHeader {
  /* Sticky header, hide violator */
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  height: 64px;
  overflow: hidden;
  background-color: var(--color-white);
  border-bottom: 1px solid #e1e3ea;
  &.active {
    position: fixed;
  }
}

.link {
  color: var(--color-gray-100);
  text-decoration-color: transparent;
  transition: text-decoration-color 200ms ease-in;
}

.link:hover {
  text-decoration-color: var(--color-gray-100);
}

.icon {
  margin: 0 var(--space-scale-20);
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: var(--space-scale-140);
  color: var(--color-white);
}

.mainLink {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto auto;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-scale-60);
  line-height: var(--line-height-scale-100);
  letter-spacing: 0.02em;
}

.sideLinks {
  display: none;
  grid-gap: var(--space-scale-260);
  grid-template-columns: auto auto;
  /* Make room for nav menu button */
  transform: translate3d(-60px, 0, 0);
  transition: transform 0.2s ease-out;
}

.sideLink {
  display: inline-flex;
}

.navMenuButton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: auto;
  min-width: 64px;
  margin: 0;
  padding: 24px;
  background-color: transparent;
  border: none;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.navMenuButtonAnimated {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 2px;
  background-color: white;
  background-color: var(--color-gray-70);
  cursor: pointer;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    color: var(--color-gray-70);
    background-color: var(--color-gray-70);
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    content: "";
  }
  &::before {
    top: -250%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: left top;
  }
  &::after {
    bottom: -250%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: left bottom;
  }
  &.active {
    background-color: var(--color-white);
    &::before {
      top: -5px;
      left: 10%;
      background-color: var(--color-gray-70);
      transform: rotateZ(45deg);
      content: "";
    }
    &::after {
      bottom: -8px;
      left: 10%;
      background-color: var(--color-gray-70);
      transform: rotateZ(-45deg);
      content: "";
    }
  }
}

@media (--media-query-large) {
  .siteHeader {
    top: 64px;
    &.active {
      position: sticky;
    }
  }
  .sideLinks {
    display: grid;
  }
}

@media (--media-query-x-large) {
  .sideLinks {
    transform: translate3d(0, 0, 0);
  }
  .navMenuButton {
    transform: translate3d(100px, 0, 0);
  }
}
