.tokenTable {
  overflow: visible;
}

.noBorderRight {
  border-right: none;
}

.noBorderLeft {
  border-left: none;
}

.copyWrapper {
  position: relative;
}
.copyMenu {
  z-index: 1;
  background: white;
  border: 1px solid #dadde1;
}
button.moreButton {
  background: none;
  border: none;
  cursor: pointer;
}
ul.copyMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.copyMenu li {
  padding: 8px;
  white-space: nowrap;
  cursor: pointer;
}
.copyMenu li:hover,
.copyMenu li:focus {
  background: #f5f6f7;
}

.copyMenu.isOpen {
  display: block;
}
